@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  color: #323732;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ProximaNova", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: #EDF1F5;
  padding: 0 26px;
  font-size: 18px;
  color: #000;
  border: none;
    border-radius: 0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #838588; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #838588; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #838588; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #838588; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block; }

.btn, button {
  outline: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "ProximaNova", sans-serif;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
    border-radius: 0;
  background: transparent;
  padding: 0;
  margin: 0; }
  .btn:hover, .btn:focus, button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-burger {
  display: none;
  width: 24px;
  cursor: pointer; }
  .btn-burger span {
    width: 100%;
    height: 2px;
    background: #35AB52;
    border-radius: 3px;
    margin: 0 0 4px;
    display: block; }
    .btn-burger span:last-child {
      margin: 0; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  text-align: center;
  max-width: 265px;
  width: 100%;
  padding: 12px;
  font-size: 20px;
  line-height: 24px; }

.btn-green {
  background: #35AB52;
  color: #fff; }
  .btn-green:hover {
    background: #F37021;
    color: #fff; }

.btn-orange {
  background: #F37021;
  color: #fff; }
  .btn-orange:hover {
    background: #35AB52;
    color: #fff; }

.btn-white {
  background: #fff;
  color: #F37021;
  max-width: 265px;
  width: 100%; }
  .btn-white:hover {
    background: #35AB52;
    color: #fff; }

.btn-border-white {
  border: 1px solid #fff;
  color: #fff; }
  .btn-border-white:hover {
    background: #F37021;
    color: #fff; }

.btn-icon {
  fill: #fff;
  margin: 0 22px 0 0;
  width: 36px;
  min-width: 36px;
  height: 36px; }

.btn-subscribe {
  text-align: left; }
  .btn-subscribe .btn-text {
    max-width: 123px; }

.btn-group .btn {
  margin: 0 30px 0 0; }
  .btn-group .btn:last-child {
    margin: 0; }

.btn-animate {
  -webkit-animation: animate-btn 2.5s infinite;
  animation: animate-btn 2.5s infinite; }

@-webkit-keyframes animate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

@keyframes animate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg); } }

.container {
  max-width: 1766px; }

h1 {
  width: 100%;
  font-size: 74px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5C5C5C; }

h2 {
  color: #5C5C5C;
  font-size: 48px;
  font-weight: bold;
  width: 100%; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.color-orange {
  color: #F37021; }

.color-green {
  color: #35AB52; }

.box-text p {
  margin: 0 0 20px; }
  .box-text p:last-child {
    margin: 0; }

strong {
  font-weight: bold;
  display: inline-block; }

.text-transform {
  text-transform: uppercase; }

header {
  padding: 44px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0; }
  header .btn-group .btn {
    width: 260px; }

.links-cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323732;
  font-size: 18px;
  font-weight: bold;
  margin: 0 40px 0 0; }
  .links-cabinet__icon {
    background: #F08732;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 50px;
    margin: 0 14px 0 0;
    padding: 10px;
    fill: #fff; }
  .links-cabinet:hover {
    color: #F37021; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 70px;
  font-size: 18px;
  font-weight: bold; }
  .menu li {
    margin: 0 29px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #323732; }
      .menu li a:hover {
        color: #F37021; }

.star {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.star1 {
  right: 31%;
  bottom: 114px;
  fill: #B2D235;
  width: 322px;
  height: 322px; }

.logo {
  max-width: 181px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 44px 0 0; }

.logo-partner {
  margin: 0 21px 0 0; }
  .logo-partner:last-child {
    margin: 0; }

.home {
  position: relative;
  padding: 213px 0 220px; }
  .home:before {
    content: '';
    position: absolute;
    background: url("../img/bg1.png") no-repeat center bottom;
      background-size: 100%;
    width: 1095px;
    height: 940px;
    top: 0;
    right: 0; }
  .home h3 {
    font-size: 48px;
    color: #5C5C5C; }
  .home h4 {
    font-size: 36px; }
  .home h1 {
    margin: 18px 0 16px; }
  .home .price {
    color: #35AB52;
    font-size: 48px;
    font-weight: bold;
    margin: 29px 0 36px; }
  .home .box-text {
    max-width: 559px;
    width: 100%;
    line-height: 24px;
    font-size: 20px; }

.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  max-width: 280px;
  overflow-y: auto;
  background: #fff;
  padding: 30px; }
  .mobile-menu .logo {
    max-width: 180px;
    margin: 0 auto 30px; }
  .mobile-menu .btn-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .mobile-menu .btn-group .btn {
      margin: 0 0 10px; }
  .mobile-menu .menu {
    font-size: 18px;
    margin: 20px 0; }
    .mobile-menu .menu li {
      margin: 0 0 15px; }

.btn-close-menu {
  width: 24px;
  height: 24px;
  margin: 0 0 20px auto;
  cursor: pointer;
  position: relative; }
  .btn-close-menu:before, .btn-close-menu:after {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #35AB52;
    border-radius: 3px; }
  .btn-close-menu:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close-menu:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

.about .box-text {
  max-width: 535px;
  margin: 44px 0 59px;
  font-size: 18px;
  line-height: 22px; }

.about-box {
  position: relative;
  padding: 32px 32px 49px 42px;
  font-size: 28px;
  color: #fff;
  max-width: 496px; }
  .about-box p {
    margin: 8px 0 0;
    font-size: 48px;
    font-weight: bold; }

.about-box-after {
  background: #F37021; }

.about-box-before {
  background: #35AB52;
  margin: -67px 0 0 353px; }

.about-box__img {
  position: absolute;
  top: -82px;
  right: 15px;
  max-width: 233px; }

.about-boxes {
  position: relative; }

.about-box-arrow {
  position: absolute;
  bottom: 20px;
  left: 200px; }

.star2 {
  width: 81px;
  height: 81px;
  fill: #B2D235;
  right: 130px;
  top: -20px; }

.star3 {
  width: 163px;
  height: 163px;
  fill: #F37021;
  right: 120px;
  bottom: -40px; }

.about-content {
  position: relative; }

.stages-work {
  padding: 86px 0 215px; }
  .stages-work h2 {
    margin: 0 auto 51px; }

.search-clients h2 {
  margin: 0 0 28px;
  font-size: 75px;
  text-transform: uppercase; }

.search-clients .box-text {
  font-size: 18px;
  max-width: 561px; }

.search-clients-img {
  position: relative;
  margin: 0 auto -39px;
  max-width: 498px;
  width: 100%; }
  .search-clients-img:before, .search-clients-img:after {
    content: '';
    position: absolute;
    z-index: -1; }
  .search-clients-img:before {
    top: 75px;
    right: 110px;
    width: 135px;
    height: 383px;
    background: #F37021;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  .search-clients-img:after {
    width: 160px;
    height: 460px;
    background: #B2D235;
    top: 63px;
    left: -72px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg); }
  .search-clients-img img {
    width: 100%; }

.search-clients-box {
  max-width: 613px;
  width: 100%; }

.search-clients-box__form {
  position: relative;
  z-index: 1;
  max-width: 613px;
  width: 100%;
  background: #F37021;
  padding: 29px 34px 31px;
  color: #fff; }
  .search-clients-box__form label {
    width: 100%; }
  .search-clients-box__form h4 {
    margin: 0 0 27px;
    font-size: 24px;
    max-width: 296px;
    width: 100%; }
  .search-clients-box__form .form label {
    margin: 0 0 25px;
    width: calc(50% - 8px); }
  .search-clients-box__form .form button {
    width: 100%;
    max-width: 265px; }
  .search-clients-box__form .form input {
    background: transparent;
    padding: 0 26px;
    color: #fff;
    border: 1px solid #fff;
      border-radius: 10px; }
    .search-clients-box__form .form input::-webkit-input-placeholder {
      color: #fff; }
    .search-clients-box__form .form input::-moz-placeholder {
      color: #fff; }
    .search-clients-box__form .form input::-ms-input-placeholder {
      color: #fff; }
    .search-clients-box__form .form input::placeholder {
      color: #fff; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0; }

.search-clients-result {
  margin: 62px 0 0; }

.search-clients-result__date {
  margin: 10px 0 24px 35px;
  font-size: 48px;
  font-weight: bold;
  color: #35AB52; }

.search-clients-result__box {
  max-width: 687px;
  width: 100%;
  margin: 0 0 35px auto;
  -webkit-box-shadow: 0px 10px 0px #EDF1F5;
          box-shadow: 0px 10px 0px #EDF1F5;
  background: #fff;
  border: 1px solid #C8C8C8;
  padding: 33px 27px 26px;
  font-size: 20px;
  color: #323732; }
  .search-clients-result__box p strong {
    display: inline; }
  .search-clients-result__box:last-child {
    margin-bottom: 0; }
  .search-clients-result__box h5 {
    margin: 8px 0 0;
    font-weight: bold;
    font-size: 75px;
    color: #F37021; }

.search-clients-result-image {
  position: relative; }
  .search-clients-result-image:before, .search-clients-result-image:after {
    content: '';
    position: absolute;
    z-index: -1; }
  .search-clients-result-image:before {
    background: #B2D235;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    left: 268px;
    top: -111px;
    width: 95px;
    height: 276px; }
  .search-clients-result-image:after {
    top: -108px;
    left: 95px;
    background: #F37021;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    width: 98px;
    height: 275px; }

.search-clients-result__img {
  position: relative;
  max-width: 708px;
  height: 548px;
  width: 100%; }
  .search-clients-result__img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.star7 {
  width: 207px;
  height: 207px;
  right: 22px;
  bottom: -50px;
  fill: #B2D235; }

.information-subscribe {
  margin: 254px 0 121px; }

.information-subscribe-wrapper {
  background: #35AB52;
  color: #fff;
  position: relative;
  padding: 44px 132px 33px 329px; }
  .information-subscribe-wrapper h2 {
    color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    margin: 0 0 19px; }

.star4 {
  top: -149px;
  width: 109px;
  height: 109px;
  fill: #F08732;
  right: 183px; }

.star5 {
  top: -106px;
  right: -133px;
  width: 277px;
  height: 277px;
  fill: #B2D235; }

.information-subscribe-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .information-subscribe-img img {
    width: 100%; }

.information-subscribe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.information-subscribe-wrapper__icon {
  fill: #fff;
  width: 84px;
  height: 84px;
  min-width: 84px; }

.information-subscribe-wrapper__content {
  padding: 0 0 0 30px; }

.information-subscribe-wrapper__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 36px; }
  .information-subscribe-wrapper__body .btn {
    margin: 0 0 0 30px; }

.cases {
  background: #EDF1F5;
  padding: 64px 0 74px; }
  .cases h2 {
    color: #323732; }

.subtitle {
  color: #323732;
  font-size: 24px;
  margin: 11px 0 0; }

.slick-slider {
  width: 100%; }

.slick-arrow {
  fill: none;
  stroke: #323732;
  min-width: 48px;
  width: 48px;
  height: 48px;
  opacity: 1;
  cursor: pointer;
  background: transparent;
  padding: 12px 18px;
  border: 2px solid #323732;
    border-radius: 50%; }
  .slick-arrow:hover {
    stroke: #C7C7C7;
    border-color: #C7C7C7; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%; }
  .slider-nav .slick-next {
    margin: 0 0 0 20px; }

.cases-slider {
  min-width: 2000px;
  margin: 34px 0 0; }
  .cases-slider .slick-slide {
    margin: 0 30px 0 0; }

.cases-box {
  background: #fff;
  max-width: 413px;
  width: 100%;
  padding: 60px 32px;
  color: #323732; }
  .cases-box__body {
    font-size: 18px;
    line-height: 22px;
    margin: 27px 0 0; }
  .cases-box h4 {
    color: #F37021;
    font-size: 24px; }
  .cases-box .position {
    margin: 12px 0 0;
    color: #4D4D4F;
    font-size: 14px; }

.question {
  padding: 28px 0 130px; }
  .question h2 {
    margin: 0 auto 30px; }

.accordion > .card > .card-header {
  margin: 0; }

.accordion {
  border: none;
    border-radius: 0;
  width: 100%; }
  .accordion .card {
    margin: 0 0 30px;
    -webkit-box-shadow: 0px 10px 0px #EDF1F5;
            box-shadow: 0px 10px 0px #EDF1F5;
    border: 1px solid #C8C8C8;
      border-radius: 0;
    background: #fff; }
    .accordion .card:not(:last-of-type) {
      border: 1px solid #C8C8C8;
        border-radius: 0; }
    .accordion .card:last-child {
      margin: 0; }
  .accordion .card-header {
    padding: 20px 22px 20px 33px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    background: transparent;
    border: none; }
    .accordion .card-header h4 {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      color: #35AB52; }
  .accordion .card-header.collapsed .accordion-icon {
    -webkit-transform: none;
            transform: none;
    border-color: #35AB52;
    stroke: green; }
  .accordion .card-header.collapsed h4 {
    color: #323732; }
  .accordion .card-body {
    padding: 0 22px 41px 33px; }
    .accordion .card-body .box-text {
      max-width: 967px;
      width: 100%;
      color: #323732;
      font-size: 18px;
      line-height: 22px; }

.accordion-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: none;
  stroke: #F37021;
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin: 0 0 0 auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: 2px solid #F37021;
    border-radius: 50%;
  padding: 10px; }

.callback {
  position: relative;
  overflow: hidden; }
  .callback h2 {
    font-size: 74px;
    text-transform: uppercase;
    margin: 26px 0 45px;
    max-width: 780px; }
    .callback h2 > span {
      display: block; }
  .callback h3 {
    max-width: 512px;
    font-size: 48px;
    color: #35AB52; }

.callback-box {
  max-width: 916px;
  background: #5C5C5C;
  padding: 36px 26px 34px 33px; }
  .callback-box__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 30px; }
  .callback-box .box-text {
    max-width: 333px;
    width: 100%;
    color: #fff; }
  .callback-box h3 {
    text-transform: uppercase;
    color: #fff;
    margin: 0 25px 0 0;
    font-size: 24px;
    font-weight: bold; }

.callback-img {
  position: relative;
  width: 100%;
  margin: 33px 0 0; }
  .callback-img:before, .callback-img:after {
    content: '';
    position: absolute;
    z-index: -2; }
  .callback-img:before {
    background: #F37021;
    width: 267px;
    height: 730px;
    -webkit-transform: rotate(29.92deg);
            transform: rotate(29.92deg);
    top: 150px;
    right: 155px; }
  .callback-img:after {
    -webkit-transform: rotate(-10.84deg);
            transform: rotate(-10.84deg);
    width: 250px;
    height: 743px;
    background: #B2D235;
    top: 273px;
    right: 648px; }

.callback-img-box {
  position: absolute;
  right: 37px;
  top: 0;
  width: 100%;
  min-width: 1340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1; }
  .callback-img-box img {
    width: 100%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
            transform: matrix(-1, 0, 0, 1, 0, 0); }

.star6 {
  top: 1px;
  right: 205px;
  fill: #B2D235;
  width: 129px;
  height: 129px; }

.callback-content {
  margin: 0 0 95px; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form label, .form button {
    width: calc(33.3% - 15px);
    max-width: none; }
  .form button {
    height: 50px; }

footer {
  background: #EDF1F5;
  padding: 27px 0 32px; }
  footer .menu {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    footer .menu li a {
      color: #35AB52; }

.links-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323732;
  font-size: 18px;
  font-weight: bold; }
  .links-subscribe__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin: 0 14px 0 0;
    fill: #35AB52; }
  .links-subscribe:hover {
    color: #35AB52; }

.footer-bottom {
  margin: 32px 0 0;
  color: #7E7E7E; }

.links-document {
  color: #7E7E7E;
  margin: 0 47px 0 0; }
  .links-document:last-child {
    margin: 0; }
  .links-document:hover {
    color: #35AB52; }

.copyright {
  color: #7E7E7E; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1730px) {
  footer {
    padding: 20px 0; }
    footer .menu {
      font-size: 20px; }
  .links-document {
    margin: 0 20px 0 0; }
  .links-subscribe {
    font-size: 16px; }
  .callback h3 {
    font-size: 34px; }
  .callback h2 {
    font-size: 60px;
    max-width: 600px; } }

@media only screen and (max-width: 1575px) {
  header {
    padding: 20px 0; }
  .links-cabinet {
    margin: 0 20px 0 0; }
  .logo {
    max-width: 120px;
    margin: 0 20px 0 0; }
  .logo-partner {
    max-width: 100px; }
  .menu {
    margin: 0 auto; }
  .about-box {
    font-size: 20px;
    max-width: 430px; }
    .about-box p {
      font-size: 34px; }
  .about-box-arrow {
    max-width: 100px; }
  .about-box__img {
    max-width: 160px;
    top: -50px; }
  .callback-img-box {
    min-width: 1000px; }
  .callback h3 {
    font-size: 30px;
    max-width: 300px; }
  .callback h2 {
    max-width: 520px;
    margin: 20px 0 30px;
    font-size: 50px; }
  .callback-box {
    padding: 25px; }
    .callback-box h3 {
      font-size: 22px; }
  .search-clients h2 {
    font-size: 50px; }
  .information-subscribe-wrapper {
    padding: 20px 90px 20px 240px; }
    .information-subscribe-wrapper h2 {
      font-size: 40px; }
  .information-subscribe-wrapper__body {
    font-size: 30px; }
  .information-subscribe-img {
    max-width: 220px; }
  .information-subscribe-wrapper__icon {
    width: 60px;
    height: 60px;
    min-width: 60px; } }

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 60px; }
  .home:before {
    width: 900px;
    height: 760px; }
  .home h3 {
    font-size: 30px; }
  .home h4 {
    font-size: 26px; }
  .home .price {
    font-size: 30px;
    margin: 10px 0 15px; }
  .star1 {
    width: 250px;
    height: 250px; }
  .btn {
    height: 55px;
    max-width: 210px;
    font-size: 16px;
    line-height: normal; }
  .btn-group .btn {
    margin: 0 10px 0 0; }
  .menu {
    font-size: 16px; }
  .links-cabinet__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 10px; }
  footer .menu {
    font-size: 18px; }
  .footer-bottom {
    margin: 20px 0 0; }
  .links-subscribe__icon {
    width: 40px;
    height: 40px;
    min-width: 40px; }
  .search-clients-result__box h5 {
    font-size: 50px; }
  .information-subscribe-wrapper h2 {
    font-size: 30px; } }

@media only screen and (max-width: 1300px) {
  .star1 {
    right: 20%; }
  h1 {
    font-size: 50px;
    max-width: 500px; }
  .star3 {
    width: 120px;
    height: 120px; }
  .star2 {
    right: 0; }
  h2 {
    font-size: 30px; }
  .about .box-text {
    margin: 20px 0; }
  .star5 {
    width: 200px;
    height: 200px; }
  .information-subscribe {
    margin: 215px 0 90px; }
  .information-subscribe-wrapper__body {
    font-size: 22px; } }

@media only screen and (max-width: 1200px) {
  header .btn-group, header .menu {
    display: none; }
  .btn-burger {
    display: block; }
  .home:before {
    width: 700px;
    height: 600px;
    right: -40px; }
  .home {
    padding: 160px 0 180px; }
  .star1 {
    width: 200px;
    height: 200px;
    right: 10%; }
  .links-cabinet {
    margin: 0 20px 0 auto; }
  .star2 {
    top: -50px; }
  .star3 {
    right: 0; }
  .about-box {
    max-width: 300px;
    padding: 20px;
    font-size: 18px; }
    .about-box p {
      font-size: 24px; }
  .about-box-arrow {
    left: 100px;
    bottom: 10px;
    max-width: 70px; }
  .about-box-before {
    margin: -10px 0 0 183px; }
  .menu li {
    margin: 0 20px 0 0; }
  footer .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 15px;
    margin: 10px 0 0; }
  .callback h3 {
    font-size: 22px; }
  .callback h2 {
    max-width: 400px;
    font-size: 40px; }
  .callback-content {
    margin: 0 0 30px; }
  .callback-img-box {
    min-width: 800px; }
  .star6 {
    right: 100px; }
  .search-clients-result__box {
    font-size: 18px;
    padding: 20px; }
  .search-clients-result__img {
    height: 450px; }
  .search-clients-result__date {
    margin: 0 0 10px;
    font-size: 35px; }
  .star7 {
    width: 150px;
    height: 150px; }
  .information-subscribe-wrapper__body p {
    width: 100%; }
  .information-subscribe-wrapper__body .btn {
    margin: 20px 0 0; } }

@media only screen and (max-width: 992px) {
  .home .box-text {
    max-width: 400px;
    font-size: 16px; }
  .home .price {
    font-size: 24px; }
  h1 {
    font-size: 40px;
    max-width: 400px; }
  .home:before {
    width: 600px;
    height: 500px;
    right: -90px; }
  .home h3 {
    font-size: 24px; }
  .home {
    padding: 120px 0 100px; }
    .home h4 {
      font-size: 22px; }
  .logo-partner {
    max-width: 80px;
    margin: 0 20px 0 0; }
  .about-boxes {
    margin: 30px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .about .box-text {
    max-width: none; }
  footer .links-subscribe {
    margin: 10px 0 0; }
  .callback-img-box {
    min-width: auto;
    position: relative;
    max-width: none;
    right: 0;
    bottom: 0;
    width: 100%; }
  .callback h2 {
    max-width: none; }
  .callback h3 {
    max-width: none; }
  .question {
    padding: 20px 0 60px; }
  .accordion .card-body .box-text {
    font-size: 16px; }
  .accordion .card-header {
    font-size: 20px; }
  .cases-box__body {
    font-size: 16px; }
  .cases-box {
    padding: 30px 20px; }
  .search-clients-box {
    margin: 30px auto 0; }
  .search-clients h2 {
    font-size: 40px; }
  .search-clients .box-text {
    max-width: none; }
  .search-clients-box__form .form label {
    margin: 0; }
  .search-clients-box__form h4 {
    font-size: 20px;
    max-width: none; }
  .search-clients-result__img {
    max-width: none;
    height: auto; }
  .search-clients-result__date {
    margin: 30px 0 10px;
    font-size: 30px; }
  .search-clients-result__box {
    max-width: none;
    margin: 0 0 20px;
    padding: 20px;
    font-size: 16px; }
    .search-clients-result__box h5 {
      font-size: 30px; } }

@media only screen and (max-width: 768px) {
  .star1 {
    width: 140px;
    height: 140px; }
  .home:before {
    display: none; }
  .home .box-text {
    max-width: none; }
  .home h1 {
    max-width: none; }
  h1 {
    font-size: 30px; }
  .star1 {
    display: none; }
  .home h3 {
    font-size: 20px; }
  .stages-work {
    padding: 50px 0 100px; }
  .footer-bottom {
    font-size: 15px;
    margin: 10px 0 0; }
  .copyright {
    margin: 10px 0 0;
    text-align: center; }
  .links-subscribe__icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin: 0 10px 0 0; }
  footer .logo-partner {
    margin: 0 auto; }
    footer .logo-partner:last-child {
      margin: 0; }
  footer .links-subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .links-document {
    margin: 0 auto; }
    .links-document:last-child {
      margin: 0 auto; }
  .star6 {
    right: 0;
    width: 80px;
    height: 80px; }
  .callback-box__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 20px; }
    .callback-box__head h3 {
      margin: 0 0 10px;
      width: 100%;
      max-width: none; }
    .callback-box__head .box-text {
      max-width: none; }
  .callback h2 {
    font-size: 30px;
    max-width: none; }
  .star7 {
    width: 100px;
    height: 100px;
    right: 0;
    bottom: -20px; }
  .information-subscribe-img {
    max-width: 180px; }
  .information-subscribe-wrapper {
    padding-left: 190px; } }

@media only screen and (max-width: 576px) {
  .logo-partner {
    display: none; }
  footer .logo {
    margin: 0 auto; }
  .form label, .form button {
    max-width: none;
    width: 100%; }
  .form label {
    margin: 0 0 10px; }
  .callback-img {
    margin: 0; }
    .callback-img:before, .callback-img:after {
      display: none; }
  input, textarea, select {
    font-size: 16px; }
  .subtitle {
    font-size: 18px; }
  .slider-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0; }
  .cases-slider {
    min-width: auto; }
    .cases-slider .slick-slide {
      margin: 0; }
  .cases-box {
    max-width: none; }
  .search-clients h2 {
    font-size: 30px; }
  .search-clients .box-text {
    font-size: 16px; }
  .information-subscribe-wrapper {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .information-subscribe-wrapper h2 {
      font-size: 24px; }
  .information-subscribe-img {
    position: relative;
    left: 0;
    bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px 0 0 -20px; }
  .star5 {
    width: 130px;
    height: 130px;
    top: -140px;
    right: 0; }
  .information-subscribe-wrapper__icon {
    width: 50px;
    height: 50px;
    min-width: 50px; }
  .information-subscribe-wrapper__content {
    padding: 0 0 0 20px; }
  .information-subscribe-wrapper__body {
    font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .about-box-arrow {
    display: none; }
  .about-box-before {
    margin: 0 auto;
    max-width: none; }
  .about-box {
    margin: 0 auto 50px;
    max-width: none; }
  .star3 {
    width: 100px;
    height: 100px; }
  .search-clients-box__form {
    padding: 20px; }
    .search-clients-box__form h4 {
      margin: 0 0 20px;
      font-size: 18px; }
  .search-clients-box__form .form label {
    width: 100%;
    margin: 0 0 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
